/*Adição da fonte Montserrat ao programa */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");

/* Zerando o padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--peso);
}
:root {
  --btBlackWhiteColor: #2196F3;
  --fundo: linear-gradient(241.29deg, #4d4a50 10.31%, #1a1919 93.41%);
  --texto: white;
  --botao: linear-gradient(
    257.91deg,
    #c366ff 17.54%,
    #d37fc8 54.55%,
    #e95582 72.93%
  );
  --botaoTxt: white;
  --input-fundo: white;
  --peso: 500;
}

.WhiteMode:root {
  --btBlackWhiteBorder:  2.7px solid #000000;
  --btBlackWhiteColor: rgb(65, 65, 65);
  --fundo: linear-gradient(232.73deg, #fbfbfb 8.79%, #bebebe 84.88%);
  --texto: rgb(0, 0, 0);
  --botao: linear-gradient(
    260.02deg,
    #a6c3e4 -4.36%,
    #3f87dd -4.35%,
    #7db1ef 45.09%,
    #86bcfc 59.75%
  );
  --botaoTxt: rgb(3, 3, 3);
  --input-fundo: white;
  --peso: 500;
}
#btVoltarDefault{
  position: absolute;
  left: 15px;
  top: 10px;
  width: 100px;
  transition: 0.3s;
  border-radius: 0;
  border: 0;
}
#btVoltarDefault:hover{
  color: black;
}
.switchTema {
  position: absolute;
  left: 15px;
  top: 70px;
  display: inline-block;
  width: 30px;
  height: 34px;
}
/* The slider */
.slider0 {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btBlackWhiteColor);
  -webkit-transition: .4s;
  transition: .4s;
}
/* Hide default HTML checkbox */
.switchTema input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider0:before { /* Círculo Interno */
  border-radius: 70%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 10px;
  bottom: 7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.checkbox0:checked + .slider0 { /*Quando for clicado, mudar a cor do slider*/
  background-color: var(--btBlackWhiteColor);
}
.checkbox0:checked + .slider0:before { /*Quando for clicado, mudar a posição da círculo*/
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--fundo);
  color: var(--texto);
  min-height: 100vh;
  height: auto;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 800px;
  min-height: 450px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 14px -3px black;
  border-radius: 15px;
}
h1 {
  width: 600px;
  text-align: left;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 10px;
}
p{
  word-break: normal;
  text-align: justify;
  font-size: 18px;
  line-height: 25px;
}
p b:nth-child(1) {
  font-size: 20px;
}
b {
  font-weight: bold;
}
input {
  background: var(--input-fundo);
  border-radius: 12px;
  width: 100px;
  height: 40px;
  border-style: none;
  text-align: center; 
 
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#result,span {
  padding: 10px;
  background-color: var(--input-fundo);
  color: black;
  border-radius: 12px;
  width: auto;
  min-width: 100px;
  max-width: 500px;
  height: auto;
  min-height: 40px;
  word-break: break-all;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

}
#btnCalcular, button {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background: var(--botao);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  transition: 0.2s;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: none;

}
#btnCalcular,button:hover{
  transform: scale(110%);
}
#btnSomar,
#btnSub,
#btnMult,
#btnDiv {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  background: var(--botao);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  transition: 0.2s;
  color: white;
  font-weight: 500;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}
#btnSomar:hover,
#btnSub:hover,
#btnMult:hover,
#btnDiv:hover {
  transform: scale(110%);
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  gap: 30px;
}


